---
import ProductImage from "@/components/products/ProductImage.astro";
import Pagination from "@/components/shared/Pagination.astro";

import MainLayout from "@/layouts/MainLayout.astro";
import { Formatter } from "@/utils";
import { actions } from "astro:actions";

const searchParams = Astro.url.searchParams;
const pageParam = Number(searchParams.get("page") ?? 1);

const { data, error } = await Astro.callAction(actions.getProductsByPage, {
  page: pageParam,
});

if (error) {
  return Astro.redirect("/");
}

const { products, totalPages } = data;
---

<MainLayout title="Panel Administrativo">
  <h1>Dashboard</h1>
  <p>Listado de productos</p>

  <div class=" flex justify-end">
    <a
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      href="/admin/products/new">
      Nuevo Producto
    </a>
  </div>

  <table class="w-full mt-5">
    <thead>
      <tr>
        <th class="text-left"> Imagen </th>
        <th class="text-left"> Titulo </th>
        <th class="text-left"> Precio </th>
        <th class="text-left"> Inventario </th>
      </tr>
    </thead>

    <tbody>
      {
        products.map((p) => (
          <tr>
            <td>
                {/* ESTO DARA ERROR SI NO HAY IMAGEN */}
                <ProductImage src={p.images.split(',')[0]} alt={p.title} className="w-24 h-24" />
            </td>
            <td>
                <a class="hover:underline cursor-pointer" href={`/admin/products/${p.slug}`} >
                    {/* data-astro-prefetch="load" */}
                    {p.title}
                </a>
            </td>
            <td>{Formatter.currency(p.price)}</td>
            <td>{p.stock}</td>
          </tr>
        ))
      }
    </tbody>
  </table>

  <Pagination totalPages={totalPages}/>
</MainLayout>
